In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("E:\\DS\\mec1.csv",usecols=['X1','X2'])

In [6]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

# one hot encoding

In [8]:
pd.get_dummies(df).shape

(4209, 71)

In [11]:
len(df['X1'].unique())

27

In [13]:
len(df['X2'].unique())

44

In [20]:
for col in df.columns[0:]:
    #print("unique valeus in",col,"are",len(df[col].unique()))
    print(f"unique valueszz in {col} are {len(df[col].unique())}")

unique valueszz in X1 are 27
unique valueszz in X2 are 44

In [25]:
df_fre=df.X2.value_counts().to_dict()

In [26]:
df.X2=df.X2.map(df_fre)

In [31]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137